In [8]:
tallman=dict()
averageman=dict()

tallman ={165:0.0,170:0.0,175:0.0,180:0.2,185:0.5,190:1.0}
averageman={165:0.1,170:0.5,175:1.0,180:0.5,185:0.0,190:0.0}

print("fuzzy setone",tallman)
print("fuzzy setsecond",averageman)

fuzzy setone {165: 0.0, 170: 0.0, 175: 0.0, 180: 0.2, 185: 0.5, 190: 1.0}
fuzzy setsecond {165: 0.1, 170: 0.5, 175: 1.0, 180: 0.5, 185: 0.0, 190: 0.0}

In [4]:
#not tallman -a

_A=dict()
for A_key in tallman:
  _A[A_key] = 1 - tallman[A_key]

print("not tallman -a",_A)

not tallman -a {165: 1.0, 170: 1.0, 175: 1.0, 180: 0.8, 185: 0.5, 190: 0.0}

In [11]:
#Tall man OR average man
tallman=dict()
averageman=dict()
_B=dict()

tallman ={165:0.0,170:0.0,175:0.0,180:0.2,185:0.5,190:1.0}
averageman={165:0.1,170:0.5,175:1.0,180:0.5,185:0.0,190:0.0}


for A_key,B_key in zip(tallman,averageman):
  if tallman[B_key] > averageman[B_key]:
    _B[B_key] = tallman[B_key]
  else:
    _B[B_key] = averageman[B_key]

print("tall man OR average man",_B)

tall man OR average man {165: 0.1, 170: 0.5, 175: 1.0, 180: 0.5, 185: 0.5, 190: 1.0}

In [12]:
#Average man AND (NOT Tall Man)
tallman=dict()
averageman=dict()
nottallman=dict()
_B=dict()

tallman ={165:0.0,170:0.0,175:0.0,180:0.2,185:0.5,190:1.0}
averageman={165:0.1,170:0.5,175:1.0,180:0.5,185:0.0,190:0.0}

for A_key,B_key in zip(tallman,averageman):
  nottallman[A_key]=1-tallman[A_key]
  if averageman[B_key] > nottallman[A_key]:
    _B[B_key]=nottallman[A_key]
  else:
    _B[B_key]=averageman[B_key]

print("Average man AND (NOT Tall Man)",_B)

Average man AND (NOT Tall Man) {165: 0.1, 170: 0.5, 175: 1.0, 180: 0.5, 185: 0.0, 190: 0.0}